<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>An Oliphant Never Forgets</title>
        <!-- Include HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <!-- Include Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="bg-gray-100 text-gray-900">
        <!-- Navigation -->
        <nav class="bg-white shadow-sm">
            <div
                class="container mx-auto px-4 py-3 flex justify-between items-center"
            >
                <a href="/" class="flex items-center">
                    <img
                        src="/static/images/joshua_oliphant.jpeg"
                        alt="Joshua Oliphant Logo"
                        class="h-8 w-auto mr-2"
                    />
                    <span class="text-xl font-semibold"
                        >An Oliphant Never Forgets</span
                    >
                </a>
                <ul class="flex space-x-4">
                    <li><a href="/" class="hover:underline">Home</a></li>
                    <li><a href="/now" class="hover:underline">Now</a></li>
                </ul>
            </div>
        </nav>

        <!-- Main Content Area with ID for HTMX Targeting -->
        <div class="container mx-auto px-4 py-8" id="content-area">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer class="bg-white mt-12 py-6">
            <div class="container mx-auto px-4 text-center">
                <p>&copy; 2024 Joshua Oliphant. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
